.github {
  padding: 0;
  background-color: #060b0df0;
  opacity: 0.8;

  .small__icon {
    // margin-bottom: -10px;
    // margin: 0;
    height: 50%;
    opacity: 0.9;
    path {
      fill: #fff;
    }
  }
}
a {
  position: relative;
  display: grid;
  place-items: center;
}

.href-icon {
  margin: 0;
  padding: 0;
  // position: absolute;
  position: absolute;
  top: 1rem;
  right: 1rem;
  // opacity: 0.8;
  // display: grid;
  // place-items: center;
  // height: 100%;
  // width: 100%;
}
