.linkedin {
  padding: 0;
  background-color: #0e76a8bc;
  opacity: 0.7;
  .small__icon {
    // margin-bottom: -10px;
    // margin: 0;
    height: 40%;
    opacity: 0.9;
  }
}
a {
  position: relative;
  display: grid;
  place-items: center;
}

.href-icon {
  margin: 0;
  padding: 0;
  // position: absolute;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
