@import './theme/home-light';
@import './theme/home-dark';
@import './components/widget';

.bento{

  display: grid;
  grid-template-columns: repeat( 4, minmax(0, 1fr) );
  grid-auto-rows: 192px;

  max-width: 300 * 4px;
  gap: 1rem;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

}


